html{
    font-family: 'Niramit', sans-serif;
}


ul.nav li.nav-link a, ul.nav li a:visited {
    color: white;
}

ul.nav li.nav-link a:hover, ul.nav li a:active {
    color: red;
}

ul.nav li.active a {
    color: white;
}
